<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        width : 500px;
        height: 500px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    https://maps.googleapis.com/maps/api/place/textsearch/json?query=쿼리&key=AIzaSyAWYLcFLY559bLyVnZNQxhyixFkKGVS_d0
    <div id="hou">
      <input type="text" v-model="place" v-on:keyup.enter="submit">
      <button type="submit" @click="submit">제출</button>
      {{place}}

      <div v-for="key in json">
        <p>{{key}}</p>
      </div>

    </div>
    <script>
    // 구글 API
    var map;
    var where = {lat: 37.493743, lng: 127.09082};
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center : where,
        zoom: 14
      });

      var contentString = '약속 장소';

      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });

      var marker = new google.maps.Marker({
        position: where,
        map: map,
        title: '여기서 만납니다!'
      });

      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }

    // 뷰
      var app = new Vue({
        data: {
          place: '',
          json: []
        },
        methods: {
          submit() {
            console.log('hi')
            var self = this // then 안에서는 뷰 인스턴스의 this 가 바인딩 되어있지 않으므로 뷰 모델을 보존해야한다.

            // Make a request for a user with a given ID
            axios.get('https://maps.googleapis.com/maps/api/place/textsearch/json?query='+this.place+'&key=AIzaSyAWYLcFLY559bLyVnZNQxhyixFkKGVS_d0')
              .then(function (response) {
                // handle success
                if (response.data.results.length > 0){
                  for(i=0;i<response.data.results.length;i++) {
                    self.json.push(response.data.results[i].formatted_address)
                  }
                  where = response.data.results[0].geometry.location
                } else {
                  alert('랜드마크, 특정 도시나 지역을 입력해주세요!')
                }
              })
              .catch(function (error) {
                // handle error
                console.log(error);
              })
              .then(function (response) {
                // always executed
                initMap()
              });
          }
        }
      }).$mount('#hou')

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWYLcFLY559bLyVnZNQxhyixFkKGVS_d0&callback=initMap"
    async defer></script>
  </body>
</html>
